@tailwind base;
@tailwind components;
@tailwind utilities;


.btn {
    @apply px-6 py-3 rounded-full font-semibold text-sm tracking-wide uppercase transition duration-300 ease-in-out;
}

.btn-primary {
    @apply bg-black text-yellow-400 border border-yellow-400 hover:bg-yellow-400 hover:text-black hover:shadow-lg;
}

.btn-secondary {
    @apply bg-yellow-400 text-black border border-yellow-500 hover:bg-black hover:text-yellow-400 hover:border-yellow-500 hover:shadow-lg;
}

.btn-outline {
    @apply bg-transparent text-yellow-400 border border-yellow-400 hover:bg-yellow-400 hover:text-black hover:shadow-lg;
}

@layer base {
    p, h1, h2, h3, h4, h5, h6, span, li {
      @apply cursor-default;
    }
  }
  
.blog-content a {
  color: #2563eb;
  text-decoration: underline;
}

.blog-content a:hover {
  color: #1d4ed8;
}
